@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.ff-inter{
    font-family: Inter ;
}

.ff-karla{
    font-family: Karla ;
}

.bg_hero{
    background-image:url(/images/png/HeroBg.png);
}

.bg_slider{
    background-image: url(/images/png/SliderBg.png);
}

.bg_infra{
    background-image: url(/images/png/BgInfrastructure.png);
}

.bg_card{
    background-image: url(/images/png/card_bg.png);
}

.bg_upgrade{
    background-image: url(/images/png/BgUpgrade.png);
}

.bg_enviro{
    background-image: url(/images/png/bg_enviro.png);
}

.bg_eco{
    background-image: url(/images/png/eco_bg.png);
}

.card_gradient{
    background: linear-gradient(180deg, #14202A 0%, rgba(20, 32, 42, 0) 100%);
}

.hero::after{
    content: "";
    background-image: url(/images/png/HeroBg.png);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: 66%;
    opacity: 0.3;
}

@media (min-width:992px) {
    .hero::after{
        opacity: 1;
        background-position: center;
    }
}


